<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<style>
    * {
        list-style: none;
        box-sizing: border-box;
    }

    img {
        height: 100px;
        width: 100px;
    }

    li{
        border: 2px solid black;
        padding: 1em;
        margin-bottom: 1em;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
    }

    li.fav{
        background-color: rgb(79, 224, 79);
    }
    
    .notIsFav{
        background-color: red;
    }
    
</style>

<body>

    <div id="app">

        <div>
            <ul>
                <h2>Favorite Books</h2><hr>
                <li  v-for="book in filteredBooks" :class="{ fav: book.isFav, notIsFav:book.isFav===false}" @click="toggleIsFav(book)">                
                    <span>
                        <span><b>Title: </b>{{ book.title }}</span> |
                        <span><b> Author:</b> {{ book.author }}</span> |
                        <span> <b> Year Published:</b> {{ book.year }}</span>
                    </span>

                    <span> <img :src="book.image" alt="img"></span>
                </li>      
                
                <h2>All Books</h2><hr>
                <li  v-for="book in books" :class="{ fav: book.isFav }" @click="toggleIsFav(book)">                
                    <span>
                        <span><b>Title: </b>{{ book.title }}</span> |
                        <span><b> Author:</b> {{ book.author }}</span> |
                        <span> <b> Year Published:</b> {{ book.year }}</span>
                    </span>

                    <span> <img :src="book.image" alt="img"></span>
                </li>    
            </ul>
        </div>

    </div>
    <script src="app.js"></script>
</body>

</html>